<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{encore_entry_link_tags('about')}}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('about') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
         <header style="background-color: #fff">
         {{ knp_menu_render('main') }}
          <h1 class="container text-primary"  style="padding:0 32%">{{'AboutPage'| trans}}</h1>

         </header>
        
        <div class=" container w-25" style="margin-left:37%">
            <img class="w-100 img-fluid"  src="{{asset("build/images/3920f1ed5325aa99a0b02e0aee7c3b35.jpg")}} ">
         </div> 

         {% block article %}
            {% block section %}
            <h5 class="container text-info">
            <label >Date of Establishment:</label> 
            <span>Apr 19, 2022</span></br>
            <label >location:</label>
            <span>Third abshar, st.Sepahsalar, Sepahsalar Passage</span></br>
            <label >About us:</label>
            <span>This company has a good ranking between another companies.Because he respects comments of custommer. This company tries to create good tours for our customers. </span></br>
            <label class="mt-3">Phone:</label>
            <span>03136332065</span>

            </h5>
            {% endblock %}
         {% endblock %}

         <footer>
            <div class="d-flex flex-row container " >
                <a class="" style="padding:0 10% 0 41%" href="http://localhost/">Home</a>
                <a   href="http://localhost/index.php/contact/us">Contact Us</a>
            </div >
         </footer>

        {% endblock %}
    </body>
</html>