{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block stylesheets %}
    {{encore_entry_link_tags('room')}} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('room') }}
{% endblock %}

{% block body %}
    <h1>Room index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoomNumber</th>
                <th>NumberOfBeds</th>
                <th>Situation</th>
                <th>Hotel</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.roomNumber }}</td>
                <td>{{ room.numberOfBeds }}</td>
                <td>{{ room.situation }}</td>
                <td>{{ room.hotel.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_room_show', {'id': room.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('app_room_new') }}">Create new</a>
{% endblock %}
