{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block stylesheets %}
    {{encore_entry_link_tags('room')}} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('room') }}
{% endblock %}

{% block body %}
    <h1>Create new Room</h1>

    {{ include('room/_form.html.twig') }}

    <a class="btn btn-primary"  href="{{ path('app_room_index') }}">back to list</a>
{% endblock %}
