{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block stylesheets %}
    {{encore_entry_link_tags('comment')}} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}

{% block body %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Score</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.name }}</td>
                <td>{{ comment.description }}</td>
                <td>{{ comment.score }}</td>
                <td>{{ comment.createAt ? comment.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                   {# <a class="btn btn-warning" href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_comment_new') }}">Create new</a>
{% endblock %}
