{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block stylesheets %}
    {{encore_entry_link_tags('comment')}} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ comment.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ comment.description }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ comment.score }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ comment.createAt ? comment.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_comment_index') }}">back to list</a>

   {# <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a> #}

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
