<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>

         <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{encore_entry_link_tags('contactUs')}}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('contactUs') }}
        {% endblock %}


        {% block body %}
        <style>
            .example-wrapper { margin: 0 45%; max-width: 800px; width: 95%; font: 28px/1.5 sans-serif; }
            .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        </style>
    </head>
    <body>
        <div >
            <header style="background-color: #fff">
            {{ knp_menu_render('main') }}
                <h1 class="example-wrapper container text-info ">اصفهان تور</h1>
            </header>

            <h2> {{'contact Us' | trans }} </h2>
            <label >Phone number:</label> 
            <span>03136330056 , 0913824586</span></br>
            <label >Email:</label> 
            <span>pedrambehnam4586@gmail.com</span></br>

            <footer class="d-flex flex-row container " >
                <a  style="padding:0 10% 0 41%" href="http://localhost/">Home</a>
                <a  href="http://localhost/index.php/about">About</a>
            </footer>    
        </div>
    </body>
    {% endblock %}

</html>
