{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{encore_entry_link_tags('attraction')}} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('attraction') }}
{% endblock %}

{% block title %}Attraction index{% endblock %}

{% block body %}
    
     <header class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h1>Attraction index</h1>
            </div>
            <div class=" logo col-2 " dir="rtl">
                {{ knp_menu_render('main') }}
            </div>
        </div>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ShortDescription</th>
                <th>FullDescription</th>
                <th>Score</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attraction in attractions %}
            <tr>
                <td>{{ attraction.id }}</td>
                <td>{{ attraction.name }}</td>
                <td>{{ attraction.shortDescription }}</td>
                <td>{{ attraction.fullDescription }}</td>
                <td>{{ attraction.score }}</td>
                <td>{{ attraction.createdAt ? attraction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ attraction.updatedAt ? attraction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_attraction_show', {'id': attraction.id}) }}">show</a>

                    {% if is_granted('ROLE_USER') %}
                        <a class="btn btn-warning" href="{{ path('app_attraction_edit', {'id': attraction.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary" href="{{ path('app_attraction_new') }}">Create new</a>
    {% endif %}
{% endblock %}
