{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block stylesheets %}
    {{encore_entry_link_tags('hotel')}} 
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('hotel') }}
{% endblock %}

{% block body %}
    <h1>Hotel index</h1>
        <div class=" container w-25 " style="margin-left:30px">
            <img  src="{{asset("build/images/ghasr-talaee-mashhad.jpg")}} ">
         </div> 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Score</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.phoneNumber }}</td>
                <td>{{ hotel.email }}</td>
                <td>{{ hotel.score }}</td>
                <td>{{ hotel.createAt ? hotel.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_hotel_show', {'id': hotel.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('app_hotel_new') }}">Create new</a>
{% endblock %}
